<html>
    <head>
<link crossorigin="anonymous" media="all" integrity="sha512-/yZA7MGD9acBi5MmgjnivwjGeiNsmimsI/bhLlK7akrRuw+hMxNpJoQEMO9Zt0Nq6ZRu1m1NGV6r95Ib0zx7Qw==" rel="stylesheet" href="https://assets-cdn.github.com/assets/frameworks-1ca00d32d1a8adc78ae7bb6677410eb1.css" />  
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Pat-Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: september 22 2018</p>
            <h2><a href="">Every journey has a first step</a></h2>
            <p>this is being a awesome start! Thanks!!!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Next Step</a></h2>
            <p>Good question!</p>
        </div>
    </body>
</html>